header {
    grid-area: cima;
    border: rgb(0, 255, 255) 50px solid;
    background-color: rgb(255, 12, 12);
}

main {
    grid-area: meio;
    border: rgb(0, 255, 255) 500px solid;
    background-color: rgb(0, 0, 0) ;
}

body {
    grid-template-areas:
        "cima cima"
        "meio meio";
}

pai {
    display: flex;
    border:9000px solid;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: white;
}

.card {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 6px 6px 9px red;
    transition: 0.5s;
}

.h1{
    text-align:left;
}